/genus.cmd*
/genus.log*
*.swp
/genus_synth.*
/LEC
/results
/reports
/.rs_*.tstamp
.st_launch*
.oa_import*
.cadence
client_log
ecoTimingDB
results_pr
saved
timingReports
reports
.c0_soc*
*.log*
*cmd*
*.bin
*temp*
*rpt*
*old*
streamOut.map
.Genus*
*_launch*
*_client*
.timing*

